<div class="screen">
    <br><br><br><br><br>

    <h1 class="searchWelcome">Find A Facility Near You!</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="" class="searchVA">
                    <input [(ngModel)]="address" name="address" type="text" placeholder="Search By Address..." /><br/>
                    <button class="button" (click)="getAdr('address')" name="getAdr">Search</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="map" style="display:none">
                <agm-map [latitude]="lat" [longitude]="lng"></agm-map>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div id="results"></div>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
</div>