<body id="backgroundcolor">

    <main role="main">
        <section id="headerimg" class="jumbotron text-center">
            <div class="container layer">
                <h1 class="jumbotron-heading">Welcome {{username}}</h1>
            </div>
        </section>
        <div id="backgroundimg2" class="album py-5 bg-light rounded-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg id="img" width="100%" height="225"></svg>
                            <div id="backgroundcolor" class="card-body">
                                <h2 class="card-text">Search</h2>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button id="img" type="button" class="btn btn-sm btn-outline-secondary">
                                            <a class="nav-link" routerLink="../search" style="color:white">Search</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <svg id="img2" width="100%" height="225"></svg>
                            <div id="backgroundcolor" class="card-body">
                                <h2 class="card-text">Forum</h2>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button id="img2" type="button" class="btn btn-sm btn-outline-secondary">
                                            <a class="nav-link" routerLink="../forum" style="color: white">View</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg id="img3" width="100%" height="225"></svg>
                            <div id="backgroundcolor" class="card-body">
                                <h2 class="card-text">VetDEC</h2>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button id="img3" type="button" class="btn btn-sm btn-outline-secondary">
                                            <a class="nav-link" routerLink="../vetdec" style="color: white">View</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>