.forumcontainer
{
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 5%;
}

.header
{
    padding-top: 10%;
}

.container
{
    padding-top: 15px;
    padding-bottom: 20px;
}

.forum-header 
{
    background-color: #192d1c;
    background-size: cover;
    color: white;
}